@font-face {
  font-family: spaceFont;
  src: url("../Assets/fonts/digital-7.regular.ttf");
}

html {
  font-family: spaceFont;
  user-select: none;
}
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.flexbox {
  width: 100vw;
  height: 100vh;
  background-color: rgb(34, 29, 29);

  display: flex;
  justify-content: center;
  align-items: center;
}

#canvasdiv {
  border: 4mm ridge rgb(47, 47, 42);
  /* cursor: url(../Assets/img/pointer.png), auto; */
  cursor: none;
}

#toggle {
  position: absolute;
  top: 20vh;
  left: 10vw;
}
.styled {
  border: 4mm ridge rgb(47, 47, 42);
  line-height: 2.5;
  padding: 0 20px;
  font-family: spaceFont;

  color: rgba(122, 225, 69, 1);
  /* text-shadow: 1px 1px 1px #000; */
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

.styled:hover {
  background-color: rgb(54, 98, 31);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.hide {
  display: none;
}

.instructions:hover + .hide {
  display: block;
  font-family: spaceFont;
}

#manual {
  position: absolute;
  top: 20vh;
  left: 10vw;
  border: 4mm ridge rgb(47, 47, 42);
  line-height: 2.5;
  padding: 0 20px;
  margin-top: 80px;
  color: rgba(122, 225, 69, 1);
  /* text-shadow: 1px 1px 1px #000; */
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

#myText {
  position: absolute;
  top: 20vh;
  left: 10vw;
  border: 4mm ridge rgb(47, 47, 42);
  line-height: 2.5;
  padding: 0 20px;
  margin-top: 180px;
  color: rgba(122, 225, 69, 1);
  /* text-shadow: 1px 1px 1px #000; */
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  font-family: spaceFont;
}

.instructions {
  border: 4mm ridge rgb(47, 47, 42);
  line-height: 2.5;
  padding: 0 20px;
  font-family: spaceFont;

  color: rgba(122, 225, 69, 1);
  /* text-shadow: 1px 1px 1px #000; */
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

.instructions:hover {
  background-color: rgb(54, 98, 31);
}

.instructions:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
